# This will execute some scripts on main branch.

name: MasterRun

on:
  push:
    branches: [ main ]

  workflow_dispatch:

jobs:
  runme:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Install some packages
        run: |
          pip install wheel requests pyyaml

      - name: Run runme with label script.
        run: ./run-me.py -D -s label.py
        env:
          CHANGELOG_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
